.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-drawer-side {
  border-right: none;
  background: rgb(71, 24, 182);
  color: aliceblue;
  min-width: 250px;
}
.main-contain {
  padding: 20px;
}